<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="82fdf0ce-30cc-49ec-bf6d-cd295e991180" Alias="news" Level="2">
  <Info>
    <Name>News</Name>
    <Icon>icon-newspaper-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page+types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="03420e60-0b17-4c88-bb5b-6992d6ac71da">Index</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e0f0bce8-d000-4e45-8aaf-fc7c535437dd" SortOrder="0">newsItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>