<?xml version="1.0" encoding="utf-8"?>
<Media Key="716f6989-4d67-411e-8f7e-c46e029ce10c" Alias="Logo react Og black" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LogoReactOgBlack</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-09-14T10:11:38</CreateDate>
    <NodeName Default="Logo react Og black" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/r3uh42lh/logo-react-og.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>