<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0225af17-b302-49cb-9176-b9f35cab9c17" Alias="Background Approved Color" Level="1">
  <Info>
    <Name>Background Approved Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"1b264f\",\"label\":\"1b264f\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"ffffff\",\"label\":\"ffffff\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"f79c37\",\"label\":\"f79c37\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"212529\",\"label\":\"f9f7f4\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>