<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0aeb7f4b-596f-4366-be14-e3b564b76f3f" Alias="Latest News Block - Display - Dropdown" Level="1">
  <Info>
    <Name>Latest News Block - Display - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "List"
    },
    {
      "id": 2,
      "value": "Gallery"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>