<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ce73e1a5-e314-4690-a888-f6e629a49206" Alias="Navigation Item - Link - Content Picker" Level="1">
  <Info>
    <Name>Navigation Item - Link - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": null
}]]></Config>
</DataType>