<?xml version="1.0" encoding="utf-8"?>
<DataType Key="82f32518-d64a-4daa-9a20-b1e5dc29d729" Alias="Section - Blocks - Block List" Level="1">
  <Info>
    <Name>Section - Blocks - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "6e00829e-afee-43ae-8259-8d25e478eb20",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Container - {{title}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": 0
  }
}]]></Config>
</DataType>