<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a255784c-85e4-4e00-870a-d6c7a1d57fd6" Alias="Text Approved Color" Level="1">
  <Info>
    <Name>Text Approved Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"000000\",\"label\":\"000000\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"ffffff\",\"label\":\"ffffff\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>