<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac890048-9a19-4429-9483-4587d2b216ff" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2022-09-02T10:42:03</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="03420e60-0b17-4c88-bb5b-6992d6ac71da">Index</Template>
  </Info>
  <Properties>
    <metadataDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit]]></Value>
    </metadataDescription>
    <metadataTitle>
      <Value><![CDATA[Umbraco react ssr]]></Value>
    </metadataTitle>
    <sections>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/de25790c3c814a6da51e701bd6a496b4"
      },
      {
        "contentUdi": "umb://element/9a9c86546f63451c9bc025dbe2b8d8ac"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "82e99e0e-fea7-4b11-889c-e299395c9e24",
      "udi": "umb://element/de25790c3c814a6da51e701bd6a496b4",
      "backgroundColor": {
        "value": "1b264f",
        "label": "1b264f",
        "sortOrder": "0",
        "id": "1"
      },
      "fullWidth": "1",
      "containers": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4bcd3fa5b28f446e9a8680812947c9fd"
            },
            {
              "contentUdi": "umb://element/aba91534ad0c45e9bde576b24de2ddd8"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "6e00829e-afee-43ae-8259-8d25e478eb20",
            "udi": "umb://element/4bcd3fa5b28f446e9a8680812947c9fd",
            "width": "6",
            "backgroundColor": {
              "value": "f79c37",
              "label": "f79c37",
              "sortOrder": "2",
              "id": "3"
            },
            "blocks": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/4e16520987d24b69b0a49eb98808c8b9"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "23d2ac41-1172-4c30-8cd4-71305b2b935c",
                  "udi": "umb://element/4e16520987d24b69b0a49eb98808c8b9",
                  "title": "Lorem ipsum dolor sit amet",
                  "titleColor": {
                    "value": "000000",
                    "label": "000000",
                    "sortOrder": "0",
                    "id": "1"
                  },
                  "text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>",
                  "textColor": {
                    "value": "000000",
                    "label": "000000",
                    "sortOrder": "0",
                    "id": "1"
                  },
                  "backgroundColor": "",
                  "buttonText": "Visit",
                  "buttonColor": {
                    "value": "1b264f",
                    "label": "1b264f",
                    "sortOrder": "0",
                    "id": "1"
                  },
                  "buttonLink": [
                    {
                      "name": "See news",
                      "url": "/news"
                    }
                  ],
                  "buttonTextColor": {
                    "value": "ffffff",
                    "label": "ffffff",
                    "sortOrder": "1",
                    "id": "2"
                  }
                }
              ],
              "settingsData": []
            },
            "displayTitle": "Left"
          },
          {
            "contentTypeKey": "6e00829e-afee-43ae-8259-8d25e478eb20",
            "udi": "umb://element/aba91534ad0c45e9bde576b24de2ddd8",
            "width": "6",
            "backgroundColor": {
              "value": "1b264f",
              "label": "1b264f",
              "sortOrder": "0",
              "id": "1"
            },
            "blocks": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/77e9775c8b5d44979b8a1f8dda430fa8"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "62adbb02-be66-4907-bf62-d03c3cdfc38e",
                  "udi": "umb://element/77e9775c8b5d44979b8a1f8dda430fa8",
                  "image": [
                    {
                      "key": "a3ccd353-a590-4b28-9411-3a91081cb087",
                      "mediaKey": "b45bee94-b197-49cc-8f3a-4c64888674c0"
                    }
                  ],
                  "fit": ""
                }
              ],
              "settingsData": []
            },
            "displayTitle": "Right"
          }
        ],
        "settingsData": []
      },
      "displayTitle": "Banner"
    },
    {
      "contentTypeKey": "82e99e0e-fea7-4b11-889c-e299395c9e24",
      "udi": "umb://element/9a9c86546f63451c9bc025dbe2b8d8ac",
      "fullWidth": "1",
      "containers": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/aeef86d3dab84f69961ba514df4c0cb9"
            },
            {
              "contentUdi": "umb://element/a7ed6998f92e4b0fa1cb6c08f457cc23"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "6e00829e-afee-43ae-8259-8d25e478eb20",
            "udi": "umb://element/aeef86d3dab84f69961ba514df4c0cb9",
            "width": "6",
            "backgroundColor": {
              "value": "1b264f",
              "label": "1b264f",
              "sortOrder": "0",
              "id": "1"
            },
            "blocks": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/2cda59cbb1484662ae6d2bb665e65bd0"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "594f5e15-2300-4506-aa83-012e23e6888c",
                  "udi": "umb://element/2cda59cbb1484662ae6d2bb665e65bd0",
                  "text": "<h2>Lorem ipsum dolor sit amet,</h2>\n<ul>\n<li>consectetur adipiscing elit,</li>\n<li>sed do eiusmod tempor incididunt ut labore</li>\n<li>et dolore magna aliqua. Ut enim ad minim veniam,</li>\n</ul>\n<p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>",
                  "textColor": {
                    "value": "ffffff",
                    "label": "ffffff",
                    "sortOrder": "1",
                    "id": "2"
                  }
                }
              ],
              "settingsData": []
            }
          },
          {
            "contentTypeKey": "6e00829e-afee-43ae-8259-8d25e478eb20",
            "udi": "umb://element/a7ed6998f92e4b0fa1cb6c08f457cc23",
            "width": "6",
            "backgroundColor": {
              "value": "f79c37",
              "label": "f79c37",
              "sortOrder": "2",
              "id": "3"
            },
            "blocks": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/928e3a5dd807433cb88d6e1eeefec675"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "594f5e15-2300-4506-aa83-012e23e6888c",
                  "udi": "umb://element/928e3a5dd807433cb88d6e1eeefec675",
                  "text": "<h2>Lorem ipsum dolor sit amet</h2>\n<ul>\n<li>consectetur adipiscing elit,</li>\n<li>sed do eiusmod tempor incididunt ut labore</li>\n<li>et dolore magna aliqua.</li>\n</ul>\n<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
                }
              ],
              "settingsData": []
            }
          }
        ],
        "settingsData": []
      },
      "backgroundColor": "",
      "displayTitle": "About"
    }
  ],
  "settingsData": []
}]]></Value>
    </sections>
  </Properties>
</Content>