<?xml version="1.0" encoding="utf-8"?>
<Content Key="48c202a0-5d25-4611-bbc8-a3f67a1f23df" Alias="Navigation" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Navigation</Path>
    <Trashed>false</Trashed>
    <ContentType>navigation</ContentType>
    <CreateDate>2022-09-02T10:42:20</CreateDate>
    <NodeName Default="Navigation" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <items>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/730859748fd64897ad43aa707df02e6e"
      },
      {
        "contentUdi": "umb://element/b5c508264c864d9c89e46dc7da529f30"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d79f8695-c154-4e01-b9c4-8c7f29f97580",
      "udi": "umb://element/730859748fd64897ad43aa707df02e6e",
      "text": "Home",
      "isVisible": "1",
      "link": "umb://document/ac8900489a19442994834587d2b216ff"
    },
    {
      "contentTypeKey": "d79f8695-c154-4e01-b9c4-8c7f29f97580",
      "udi": "umb://element/b5c508264c864d9c89e46dc7da529f30",
      "text": "News",
      "isVisible": "1",
      "link": "umb://document/48849cdb63064a8080e2c19126717576"
    }
  ],
  "settingsData": []
}]]></Value>
    </items>
  </Properties>
</Content>