<?xml version="1.0" encoding="utf-8"?>
<Content Key="d301ffd1-a05a-43b9-be16-b97a2d11a2e4" Alias="News Collection" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NewsCollection</Path>
    <Trashed>false</Trashed>
    <ContentType>news</ContentType>
    <CreateDate>2022-09-07T22:52:52</CreateDate>
    <NodeName Default="News Collection" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>