<?xml version="1.0" encoding="utf-8"?>
<Content Key="48849cdb-6306-4a80-80e2-c19126717576" Alias="News" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/News</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2022-09-07T10:01:26</CreateDate>
    <NodeName Default="News" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="03420e60-0b17-4c88-bb5b-6992d6ac71da">Index</Template>
  </Info>
  <Properties>
    <metadataDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit]]></Value>
    </metadataDescription>
    <metadataTitle>
      <Value><![CDATA[News]]></Value>
    </metadataTitle>
    <sections>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9de38a2598084f73811dacd3d52850d0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "82e99e0e-fea7-4b11-889c-e299395c9e24",
      "udi": "umb://element/9de38a2598084f73811dacd3d52850d0",
      "fullWidth": "1",
      "backgroundColor": {
        "value": "212529",
        "label": "f9f7f4",
        "sortOrder": "3",
        "id": "4"
      },
      "displayTitle": "News",
      "containers": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c078bfe5a98347dba0ecee6441f9aec5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "6e00829e-afee-43ae-8259-8d25e478eb20",
            "udi": "umb://element/c078bfe5a98347dba0ecee6441f9aec5",
            "width": "12",
            "blocks": {
              "layout": {
                "Umbraco.BlockList": [
                  {
                    "contentUdi": "umb://element/53bd73f7ec3c46b0bd98bea01082563f"
                  }
                ]
              },
              "contentData": [
                {
                  "contentTypeKey": "7f24b910-848b-4638-b41c-42e9339946b9",
                  "udi": "umb://element/53bd73f7ec3c46b0bd98bea01082563f",
                  "title": "News",
                  "textColor": {
                    "value": "ffffff",
                    "label": "ffffff",
                    "sortOrder": "1",
                    "id": "2"
                  },
                  "backgroundColor": {
                    "value": "212529",
                    "label": "f9f7f4",
                    "sortOrder": "3",
                    "id": "4"
                  },
                  "showIntro": "1",
                  "showDate": "1",
                  "showLabel": "1",
                  "showLink": "1",
                  "showMoreButton": "1",
                  "defaultNumber": "5",
                  "display": [
                    "Gallery"
                  ]
                }
              ],
              "settingsData": []
            },
            "backgroundColor": {
              "value": "212529",
              "label": "f9f7f4",
              "sortOrder": "3",
              "id": "4"
            }
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </sections>
  </Properties>
</Content>